@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}